html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a { 
    text-decoration: none;
}

/* nav bar */

header {
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header h1 {
    margin-left: 2vw;
}

header img {
    width: auto;
    height: 7.5em;
    position: relative;
    display: block;
}

header nav {
    text-align: start;
    cursor: default;
    height: 7.5em;
    display: flex;
    align-items: center;
    padding-right: 1vw;
    padding-bottom: 1vh;
    margin-right: 3vw;
}

header nav ul {
    margin-top: 0.5em;
}

header nav li {
    display: inline-block;
}

header nav a {
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-weight: 400;
    font-size: x-large;
    border-radius: 8px;
    color: #fff;
    height: 2em;
    line-height: 2em;
    padding: 0 1.25em;
    white-space: nowrap;
}

header nav a:hover {
    color: #fff !important;
    background: #383838;
}

header nav a.active {
    background: #484848;
}

header nav a.active:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    margin-left: -0.75em;
    border-left: solid 0.75em transparent;
    border-right: solid 0.75em transparent;
    border-top: solid 0.6em #282828;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-right: 2vw;
}

.icon {
    width: 2em;
    height: 2em;
}

.button-wrap {
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    align-items: center;
    background-color: #282828;
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    font-weight: 400;
    font-size: x-large;
    border-radius: 8px;
    gap: .25rem;
    height: 40px ;
    bottom: 5px;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1em;
    position: relative;
}

.button-wrap:hover, .button-wrap:active {
    background-color: #383838;
  }  

/* home */

article img {
    display: block;
    width: 100%;
}

/* large */

@media screen and (max-width: 1067px) {
    
    /* nav bar */
    
    header img {
        height: 6.5em;
    }

    header nav {
        height: 6.5em;
    }
    
}

/* medium */

@media screen and (max-width: 884px) {

    /* nav bar */
    
    header img {
        height: 5.5em;
    }

    header nav {
        height: 5.5em;
    }

    header nav a {
        font-size: large;
    }

    .links {
        gap: 0;
    }

    .icon {
        display: none;
    }

    .button-wrap {
        font-size: large;
        border-radius: 8px;
        color: #fff;
        height: 2em;
        line-height: 2em;
    }

}

/* small */

@media screen and (max-width: 617px) {

    /* nav bar */

    header img {
        height: 3.5em;
    }

    header nav {
        height: 8.5em;
    }

    header nav a {
        font-size: medium;
    }

    .button-wrap {
        font-size: medium;
    }
}

/* smaller */

@media screen and (max-width: 387px) {

    /* nav bar */

    header img {
        height: 2.5em;
    }

    header nav a {
        font-size: small;
    }

    .button-wrap {
        font-size: small;
    }
}

